= simple_form_for [@project, @additional_cost] do |f|
  = f.input :name
  = f.input :price
  = f.input :remarks
  = f.button :submit, class: %i(btn btn-primary)
  = link_to t('.cancel', :default => t("helpers.links.cancel")), project_additional_costs_path(@project), :class => 'btn btn-default'
