#item-modal.modal.hide
  .url_template_for_create_large.hidden= project_large_items_path("___PID___")
  .url_template_for_create_medium.hidden= project_large_item_medium_items_path("___PID___", "___LID___")
  .url_template_for_create_small.hidden= project_large_item_medium_item_small_items_path("___PID___", "___LID___", "___MID___")
  .url_template_for_update_large.hidden= project_large_item_path("___PID___", "___LID___")
  .url_template_for_update_medium.hidden= project_large_item_medium_item_path("___PID___", "___LID___", "___MID___")
  .url_template_for_update_small.hidden= project_large_item_medium_item_small_item_path("___PID___", "___LID___", "___MID___", "___SID___")
  .url_for_destroy.hidden
  .url_for_save.hidden
  .method_for_save.hidden
  .modal-header
    %button.close{"type" => "button", "data-dissmiss" => "modal", "aria-hidden" => true}
      &times;
    %h3 項目
  .modal-body
    = form_for LargeItem.new, url: "#", remote: true, html: { class: 'form-horizontal', id: 'item_modal_form' } do |f|
      = hidden_field_tag "_method", "POST"
      .alert.alert-error.hidden
      .control-group
        = f.label :name, class: 'control-label'
        .controls
          = f.text_field :name, class: "text_field"
      .form-actions
        = submit_tag "保存", class: "btn btn-primary btn-save"
        = submit_tag "削除", class: "btn btn-destroy btn-danger"
        %button.btn.close_btn{type: "button"}
          閉じる
