- task_count = @project.project_tasks.size
%tr
  %td.blank_row{colspan: "#{task_count * 2 + 5}"}
%tr
  %th{rowspan: 2}
    大項目
  %th{rowspan: 2}
    中項目
  %th{rowspan: 2}
    小項目
  - @project.project_tasks.each do |ps|
    %th{colspan: 2}
      = ps.name
      = ps.first? ? '' : (link_to '←', move_higher_project_project_task_path(@project, ps))
      = ps.last? ? '' : (link_to '→', move_lower_project_project_task_path(@project, ps))
  %th{colspan: 2}
    = is_project_summary ? "合計" : "小計"
%tr
  - (task_count).times do
    %th= "50%(90%)"
    %th= "50%+b"
  %th
    50%
  %th
    50%+b
