- total_point = @project.sum_of_point_50
- buffer = @project.buffer
- ratio = 1 + (buffer / total_point)
.project_id.hidden= @project.id
%h2= @project.name
%h3 Total[50%]: #{total_point}  Buffer: #{sprintf("%10.1f",buffer)}
%p
  見積り出力
  = link_to "[Office XML]", convert_project_dashboard_path(@project, format: :xml)
%p

.dashboard-table
  = link_to "[Add]", "#", id: "add_item"
  %table.table.table-condensed.table-bordered
    = render partial: 'table_header', locals: {is_project_summary: true}
    %tr
      %td.project.item_name{colspan: 3} プロジェクトサマリ
      - @project.project_tasks.each do |ps|
        - p_task_total = @project.sum_of_point_50_by_project_task_id(ps.id)
        %td.project.subtotal= p_task_total
        %td.project.point= sprintf("%10.1f", p_task_total * ratio)
      - p_total = @project.sum_of_point_50
      %td.project.subtotal= p_total
      %td.project.point= sprintf("%10.1f", p_total * ratio)
    - @project.categories.each do |category|
      = render partial: 'table_header', locals: {is_project_summary: true}
      %tr
        %td.category.item_name{rowspan: "#{category.count_of_sub_categories + category.count_of_stories + 1}", id: "item_name_#{category.id}"}
          %span.plain_item_name= category.name
          %span.has_remarks= category.remarks.blank? ? "" : "*"
          %span.plain_item_remarks= category.remarks
          = up_arrow_link_to_unless(category.first?, { project:@project, category:category })
          = down_arrow_link_to_unless(category.last?, { project:@project, category:category })
        %td.category{colspan: 2}
          サマリー
          = link_to "[Add]", new_project_category_sub_category_path(@project, category), id: "add_item_#{category.id}"
        - @project.project_tasks.each do |ps|
          - cat_task_total = category.sum_of_point_50_by_project_task_id(ps.id)
          %td.category.subtotal= cat_task_total
          %td.category.point= sprintf("%10.1f", cat_task_total * ratio)
        - cat_subtotal = category.sum_of_point_50
        %td.category.subtotal= cat_subtotal
        %td.category.subtotal= sprintf("%10.1f", cat_subtotal * ratio)
      - category.sub_categories.each do |sub_category|
        %tr
          %td.sub_category.item_name{rowspan: "#{sub_category.count_of_stories + 1}", id: "item_name_#{category.id}_#{sub_category.id}"}
            %span.plain_item_name= sub_category.name
            %span.has_remarks= sub_category.remarks.blank? ? "" : "*"
            %span.plain_item_remarks= sub_category.remarks
            = up_arrow_link_to_unless(sub_category.first?, { project:@project, category:category, sub_category:sub_category })
            = down_arrow_link_to_unless(sub_category.last?, { project:@project, category:category, sub_category:sub_category })
          %td.sub_category
            サマリー
            = link_to "[Add]", new_project_category_sub_category_story_path(@project, category, sub_category), id: "add_item_#{category.id}_#{sub_category.id}"
          - @project.project_tasks.each do |ps|
            - subcat_task_total = ps.task_points.where(story_id: sub_category.stories.pluck(:id)).sum(:point_50)
            %td.sub_category.subtotal= subcat_task_total
            %td.sub_category.point= sprintf("%10.1f", subcat_task_total * ratio)
          - m_subtotal = TaskPoint.where(story_id: sub_category.stories.pluck(:id)).sum(:point_50)
          %td.sub_category.subtotal= m_subtotal
          %td.sub_category.subtotal= sprintf("%10.1f", m_subtotal * ratio)
        - sub_category.stories.each do |story|
          %tr
            %td.item_name{id: "item_name_#{category.id}_#{sub_category.id}_#{story.id}"}
              %span.plain_item_name= story.name
              %span.has_remarks= story.remarks.blank? ? "" : "*"
              %span.plain_item_remarks= story.remarks
              = up_arrow_link_to_unless(story.first?, { project:@project, category:category, sub_category:sub_category, story:story })
              = down_arrow_link_to_unless(story.last?, { project:@project, category:category, sub_category:sub_category, story:story })
            - @project.project_tasks.each do |ps|
              - sp = story.task_points.find_by_project_task_id(ps.id)
              - class_suffix = "#{category.id}_#{sub_category.id}_#{story.id}_#{ps.id}_#{sp ? sp.id : 'new'}"
              %td.table_point_50.point_area
                - point_50 = sp.try(:point_50)
                - point_90 = sp.try(:point_90)
                = point_50 ? point_50 : "-"
                = point_90 ? "(#{point_90})" : ""
                .hidden{id: "point_50_#{class_suffix}"}= point_50
                .hidden{id: "point_90_#{class_suffix}"}= point_90
              %td.table_buffered= point_50 ? sprintf("%10.1f", point_50 * ratio) : "-"
            - s_subtotal = story.task_points.sum(:point_50)
            %td.subtotal= s_subtotal
            %td.subtotal= sprintf("%10.1f", s_subtotal * ratio)

= render 'point_modal'
= render 'item_modal'
