- total_point = @project.sum_of_point_50
- buffer = @project.buffer
- ratio = 1 + (buffer / total_point)
.project_id.hidden= @project.id
%h2= @project.name
%h3 Total[50%]: #{total_point}  Buffer: #{sprintf("%10.1f",buffer)}

.dashboard-table
  = link_to "[Add]", "#", id: "add_item"
  %table.table.table-condensed.table-bordered
    - @project.large_items.each do |l_item|
      = render 'table_header'
      %tr
        %td.large_item.item_name{rowspan: "#{l_item.count_of_medium_items + l_item.count_of_small_items + 1}", id: "item_name_#{l_item.id}"}
          %span.plain_item_name= l_item.name
          = l_item.first? ? '' : (link_to '↑', move_higher_project_large_item_path(@project, l_item))
          = l_item.last? ? '' : (link_to '↓', move_lower_project_large_item_path(@project, l_item))
        %td.large_item{colspan: 2}
          サマリー
          = link_to "[Add]", new_project_large_item_medium_item_path(@project, l_item), id: "add_item_#{l_item.id}"
        - @project.project_subjects.each do |ps|
          - l_subject_total = l_item.sum_of_point_50_by_project_subject_id(ps.id)
          %td.large_item.subtotal= l_subject_total
          %td.large_item.point= sprintf("%10.1f", l_subject_total * ratio)
        - l_subtotal = l_item.sum_of_point_50
        %td.large_item.subtotal= l_subtotal
        %td.large_item.subtotal= sprintf("%10.1f", l_subtotal * ratio)
      - l_item.medium_items.each do |m_item|
        %tr
          %td.medium_item.item_name{rowspan: "#{m_item.count_of_small_items + 1}", id: "item_name_#{l_item.id}_#{m_item.id}"}
            %span.plain_item_name= m_item.name
            = m_item.first? ? '' : (link_to '↑', move_higher_project_large_item_medium_item_path(@project, l_item, m_item))
            = m_item.last? ? '' : (link_to '↓', move_lower_project_large_item_medium_item_path(@project, l_item, m_item))
          %td.medium_item
            サマリー
            = link_to "[Add]", new_project_large_item_medium_item_small_item_path(@project, l_item, m_item), id: "add_item_#{l_item.id}_#{m_item.id}"
          - @project.project_subjects.each do |ps|
            - m_subject_total = ps.subject_points.where(small_item_id: m_item.small_items.pluck(:id)).sum(:point_50)
            %td.medium_item.subtotal= m_subject_total
            %td.medium_item.point= sprintf("%10.1f", m_subject_total * ratio)
          - m_subtotal = SubjectPoint.where(small_item_id: m_item.small_items.pluck(:id)).sum(:point_50)
          %td.medium_item.subtotal= m_subtotal
          %td.medium_item.subtotal= sprintf("%10.1f", m_subtotal * ratio)
        - m_item.small_items.each do |s_item|
          %tr
            %td.item_name{id: "item_name_#{l_item.id}_#{m_item.id}_#{s_item.id}"}
              %span.plain_item_name= s_item.name
              = s_item.first? ? '' : (link_to '↑', move_higher_project_large_item_medium_item_small_item_path(@project, l_item, m_item, s_item))
              = s_item.last? ? '' : (link_to '↓', move_lower_project_large_item_medium_item_small_item_path(@project, l_item, m_item, s_item))
            - @project.project_subjects.each do |ps|
              - sp = s_item.subject_points.find_by_project_subject_id(ps.id)
              - class_suffix = "#{l_item.id}_#{m_item.id}_#{s_item.id}_#{ps.id}_#{sp ? sp.id : 'new'}"
              %td.table_point_50.point_area
                - point_50 = sp.try(:point_50)
                - point_90 = sp.try(:point_90)
                = point_50 ? point_50 : "-"
                = point_90 ? "(#{point_90})" : ""
                .hidden{id: "point_50_#{class_suffix}"}= point_50
                .hidden{id: "point_90_#{class_suffix}"}= point_90
              %td.table_buffered= point_50 ? sprintf("%10.1f", point_50 * ratio) : "-"
            - s_subtotal = s_item.subject_points.sum(:point_50)
            %td.subtotal= s_subtotal
            %td.subtotal= sprintf("%10.1f", s_subtotal * ratio)

= render 'point_modal'
= render 'item_modal'
