- subjects_size = @project.project_subjects.size
- lids = @project.large_items.pluck(:id)
- mids = MediumItem.where(large_item_id: lids).pluck(:id)
- sids = SmallItem.where(medium_item_id: mids).pluck(:id)
- subject_points = SubjectPoint.where(small_item_id: sids)
- total_point = subject_points.sum(:point_50)
- buffer = Math::sqrt(subject_points.map{|sp| (sp.point_90 - sp.point_50) ** 2}.inject(0){|result, square| result += square}) / 2
.project_id.hidden= @project.id
%h2= @project.name
%h3 Total[50%]: #{total_point}  Buffer: #{sprintf("%10.1f",buffer)}

.dashboard-table
  %table.table.table-condensed.table-bordered
    - @project.large_items.each do |l_item|
      = render 'table_header'
      %tr
        %td.large_item.item_name{rowspan: "#{l_item.count_of_medium_items + l_item.count_of_small_items + 1}"}
          = l_item.name
          = l_item.first? || @project.large_items.size == 1 ? '' : (link_to '↑', move_higher_project_large_item_path(@project, l_item))
          = l_item.last? || @project.large_items.size == 1 ? '' : (link_to '↓', move_lower_project_large_item_path(@project, l_item))
          %br
          = link_to "[Add]", new_project_large_item_medium_item_path(@project, l_item)
        %td.large_item{colspan: 2} サマリー
        - @project.project_subjects.each do |ps|
          - l_subject_total = l_item.sum_of_point_50_by_project_subject_id(ps.id)
          %td.large_item.subtotal= l_subject_total
          %td.large_item.point= sprintf("%10.1f", l_subject_total * (1 + buffer / total_point))
        - l_subtotal = l_item.sum_of_point_50
        %td.large_item.subtotal= l_subtotal
        %td.large_item.subtotal= sprintf("%10.1f", l_subtotal * (1 + buffer / total_point))
      - l_item.medium_items.each do |m_item|
        %tr
          %td.medium_item.item_name{rowspan: "#{m_item.count_of_small_items + 1}"}
            = m_item.name
            = m_item.first? || l_item.medium_items.size == 1 ? '' : (link_to '↑', move_higher_project_large_item_medium_item_path(@project, l_item, m_item))
            = m_item.last? || l_item.medium_items.size == 1 ? '' : (link_to '↓', move_lower_project_large_item_medium_item_path(@project, l_item, m_item))
            %br
            = link_to "[Add]", new_project_large_item_medium_item_small_item_path(@project, l_item, m_item)
          %td.medium_item サマリー
          - @project.project_subjects.each do |ps|
            - m_subject_total = ps.subject_points.where(small_item_id: m_item.small_items.pluck(:id)).sum(:point_50)
            %td.medium_item.subtotal= m_subject_total
            %td.medium_item.point= sprintf("%10.1f", m_subject_total * (1 + buffer / total_point))
          - m_subtotal = SubjectPoint.where(small_item_id: m_item.small_items.pluck(:id)).sum(:point_50)
          %td.medium_item.subtotal= m_subtotal
          %td.medium_item.subtotal= sprintf("%10.1f", m_subtotal * (1 + buffer / total_point))
        - m_item.small_items.each do |s_item|
          %tr
            %td.item_name
              = s_item.name
              = s_item.first? || m_item.small_items.size == 1 ? '' : (link_to '↑', move_higher_project_large_item_medium_item_small_item_path(@project, l_item, m_item, s_item))
              = s_item.last? || m_item.small_items.size == 1 ? '' : (link_to '↓', move_lower_project_large_item_medium_item_small_item_path(@project, l_item, m_item, s_item))
            - @project.project_subjects.each do |ps|
              - sp = s_item.subject_points.find_by_project_subject_id(ps.id)
              - class_suffix = "#{l_item.id}_#{m_item.id}_#{s_item.id}_#{ps.id}_#{sp ? sp.id : 'new'}"
              %td.table_point_50.point_area
                - point_50 = sp.try(:point_50)
                - point_90 = sp.try(:point_90)
                = point_50 ? point_50 : "-"
                = point_90 ? "(#{point_90})" : ""
                .hidden{id: "point_50_#{class_suffix}"}= point_50
                .hidden{id: "point_90_#{class_suffix}"}= point_90
              %td.table_buffered= point_50 ? sprintf("%10.1f", point_50 * (1 + buffer / total_point)) : "-"
            - s_subtotal = s_item.subject_points.sum(:point_50)
            %td.subtotal= s_subtotal
            %td.subtotal= sprintf("%10.1f", s_subtotal * (1 + buffer / total_point))
    %tr
      %td{colspan: "#{subjects_size * 2 + 5}"}= link_to "[Add]", new_project_large_item_path(@project)

#point-modal.modal.hide.fade
  .url_for_create.hidden
    = project_large_item_medium_item_small_item_subject_points_path("___PID___", "___LID___", "___MID___", "___SID___")
  .url_for_destroy.hidden
    = project_large_item_medium_item_small_item_subject_point_path("___PID___", "___LID___", "___MID___", "___SID___", "__SPID__")
  = form_for SubjectPoint.new, url: "#", method: :post, remote: true, html: { class: 'form-horizontal'} do |f|
    .modal-header
      %button.close{"type" => "button", "data-dissmiss" => "modal", "aria-hidden" => true}
        &times;
      %h3
        Pointの登録
    .modal-body
      .alert.alert-error.hidden
      .control-group
        = f.label :point_50, class: 'control-label'
        .controls
          = f.text_field :point_50, class: "text_field span2"
      .control-group
        = f.label :point_90, class: 'control-label'
        .controls
          = f.text_field :point_90, class: "text_field span2"
      = f.hidden_field :project_subject_id
      = hidden_field_tag :_method, "POST"
      .form-actions
        = submit_tag "保存", class: "btn btn-primary btn-create"
        = submit_tag "削除", class: "btn btn-delete"
        %a.btn.close_btn
          閉じる
