<%= simple_form_for @template_task do |f| %>
    <%= f.input :name %>
    <%= f.input :price_per_day %>
    <%= f.input :default_task %>
    <%= f.button :submit, class: %i(btn btn-primary) %>
    <%= link_to t('.cancel', default: t("helpers.links.cancel")), template_tasks_path, class: 'btn btn-default' %>
  </div>
<% end %>
